$color-orange: #F15D4E;
$color-blue: #0082FF;
$color-dark-blue: #1B3348;
$color-dark-gray: #3D3D3D;

$color-yellow: #FBBD0E;
$color-dark-yellow: #EAB00C;
$color-mustard: #BB8B06;
$color-purple: #6506bb;
